{%- capture default_title -%}{{ 'products.product.default_variant_title' | t }}{%- endcapture -%}
{%- if show_custom_options == true -%}
    <select name="id" class="{% if product.variants.size == 1 and product.variants.first.title contains 'Default Title' %}d-none {% endif %}m-0" data-js-product-variants>
        {%- for variant in product.variants -%}
            <option{% if variant.id == current_variant.id and variant.available %} selected="selected"{% endif %}{% unless variant.available %} disabled="disabled"{% endunless %} value="{{ variant.id }}">{{ variant.title | replace: 'Default Title', default_title }}</option>
        {%- endfor -%}
    </select>
{%- else -%}
    <select name="id" class="{% if product.variants.size == 1 and product.variants.first.title contains 'Default Title' %}d-none {% endif %}m-0" data-js-product-variants="control">
        {%- for variant in product.variants -%}
            {%- if variant.available -%}
                <option{% if variant.id == current_variant.id %} selected="selected"{% endif %} value="{{ variant.id }}">{{ variant.title | replace: 'Default Title', default_title }} − {{ variant.price | money | remove: '<span class=money>' | remove: '</span>' }}</option>
            {%- endif -%}
        {%- endfor -%}
    </select>
{%- endif -%}